<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

      <div class="profile">
          <img src="/static/img/bbdlogo3.png" alt="" class="img-fluid rounded-circle">
          <h1 class="text-light"><a href="index.html">BBDU Clubs</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
          <ul>
              <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
              <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
              <li><a href="#clubs" class="nav-link scrollto"><i class="bx bx-book-open"></i> <span>Clubs</span></a></li>
              <li><a href="#events" class="nav-link scrollto"><i class="bx bx-calendar-event"></i> <span>Events</span></a></li>
              <li><a href="#announcement" class="nav-link scrollto"><i class="bx bx-bullhorn"></i> <span>Announcement</span></a></li>
              <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          </ul>
      </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->
